.from{
	box-shadow: 0 2px 2px rgba(5, 5, 5, 0.05);
  text-decoration: none;
  background-color: white;
  color: #666;
  
  display: block;
  border: 1px solid #ccc;
  
  border-radius: 4px;
  
  padding: 15px 10px;
  font-size:12px;
}

.link{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size:14px;
}
.link::placeholder{
  color: black;
  font-size:14px;
}
.format{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
.Get{
    width: 100%;
    display: block;
    background-color: black;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 12px 25px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.hidden{
  display: none;
}
.hidden.active{
  display: block;
}

	input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 2px solid #00bafa;
  border-radius: 0.5em;
  background: #fff;
  resize: none;
  outline: none;
  text-align: center;
}
input[type="text"][required]:focus {
  border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
        background: #00bafa;
        border: 0px solid #49D75C;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        transition: all .25s ease;
        width: 100%;
        position: relative;
        height: 45px;
        text-align: center;
        overflow: hidden;
        
    }
    .btn:not(.loading):hover {
        box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
    }
    .btn:not(.loading):hover i {
        transform: translate(7px);
    }
    .btn i {
    	text-align: center;
        font-size: 2rem;
        position: absolute;
        left: 75px;
        pointer-events: none;
        z-index: 10;
        background: inherit;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .25s ease; 
    }
    .btn .text {
        width: 130px;
        font-size: 2rem;
        display: block;
        position: relative;
        pointer-events: none;
        transition: all .25s ease;
        position: absolute;
        
        text-align: center;
    }
    .loading-animate {
        position: absolute;
        width: 60px;
        height: 45px;
        z-index: 100;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        transition: all .25s ease;
    }
    .loading-animate:after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-left: 3px solid #fff;
        animation: loading infinite .8s ease .05s;
        position: absolute;
    }
    .loading-animate:before {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-left: 3px solid #fff;
        animation: loading infinite .8s linear;
        position: absolute;
        opacity: .6;
    }
    .btn.loading {
        width: 60px;
    }
    .btn.loading i {
        transform: rotate(-90deg);
        padding-bottom: 4px;
        padding-left: 3px;
    }
    .btn.loading .text {
        transform: translate(-140px);
    }
    .btn.loading .loading-animate {
        opacity: 1;
    }
    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    section {
  width:100%;
  
  margin: auto;
}

.bot-nav .material-icons {
  user-select: none;
  
}
.bot-nav .nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #333;
  border-radius: 0px;
  padding: 0;margin: auto;
  box-shadow: 0 -2px 5px -2px #333;
  
}
.bot-nav .nav > li {
	padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding: 20px 49px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  transition: all 200ms ease-in-out;
}
.bot-nav .nav > li > span {
  position: absolute;
}
.bot-nav .nav > li .play {
  transform: rotate(90deg);
  transition: all 200ms ease-in-out;
  position: absolute;
}
.bot-nav .nav > li:hover {
  background: #444;
}
.bot-nav .nav > li.is-active {
  background: #222;
  color: white;
  box-shadow: 0 -6px 0 0 orangered inset;
}
.bot-nav .nav > li.is-active .play {
  transform: rotate(-90deg);
}
.bot-nav .nav > li.is-active .setting-menu {
  display: block;
  animation: setting-items 200ms ease-in-out forwards;
  transform-origin: bottom;
}
.bot-nav .nav > li .setting-menu {
  background: orangered;
  list-style-type: none;
  border-radius: 4px;
  position: absolute;
  padding: 0;
  bottom: 40px;
  left: -40px;
  transition: all 200ms ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  display: none;
}
.bot-nav .nav > li .setting-menu .setting-menu-item {
  padding: 4px 6px;
  width: 80px;
}
.bot-nav .nav > li .setting-menu .setting-menu-item :hover {
  color: white;
}
.bot-nav .nav > li .setting-menu:after {
  left: 30%;
  
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: orangered;
  border-width: 16px;
}
@keyframes setting-items {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}
a{
	color:white;
	text-decoration: none
	}
	a:hover{
		color:red;
}